.examples__image {
  width: 100%;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  padding-right: 25px;
}

.examples__image:nth-of-type(3n) {
  padding-right: 0;
}

@media screen and (max-width: 1390px) {
  .examples__image {
    width: 300px;
    height: 600px;
  }
}
@media screen and (max-width: 990px) {
  .examples__image {
    width: 226px;
    height: 461px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 720px) {
  .examples__image {
    width: 180px;
    height: 400px;
  }
}
@media screen and (max-width: 640px) {
  .examples__image {
    padding-right: 0;
    width: auto;
    height: auto;
    filter: none;
  }
}
