.contacts__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 119%;
  text-align: center;
  color: #111111;
  padding: 60px 300px 20px 300px;
}

@media screen and (max-width: 1150px) {
  .contacts__subtitle {
    padding: 30px 0px 24px 0px;
  }
}
@media screen and (max-width: 990px) {
  .contacts__subtitle {
    font-size: 26px;
    line-height: 31px;
  }
}
