.header__content {
  display: flex;
  flex-direction: column;
  padding: 0 220px 0 160px;
}

@media screen and (max-width: 1390px) {
  .header__content {
    padding: 0 0 0 160px;
  }
}
@media screen and (max-width: 990px) {
  .header__content {
    padding: 0 0 0 50px;
  }
}
