.description__subtitle_indent {
  padding-bottom: 78px;
}

@media screen and (max-width: 1280px) {
  .description__subtitle_indent {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 990px) {
  .description__subtitle_indent {
    padding-bottom: 50px;
    padding-right: 30px;
  }
}
