.description__part {
  background: #F8F8F8;
  border-radius: 20px;
  padding: 40px 0 40px 40px;
  width: 540px;
  margin-right: 20px;
}
.description__part:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 990px) {
  .description__part {
    padding: 30px 0 30px 30px;
    width: 349px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 640px) {
  .description__part {
    padding: 20px 20px 20px 20px;
    margin-right: 0;
  }
}
