.footer__image {
  margin-top: -30px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 990px) {
  .footer__image {
    width: 250px;
    height: 430px;
  }
}
@media screen and (max-width: 720px) {
  .footer__image {
    display: none;
  }
}
