.form__field {
  border: 0;
  margin: 0;
  padding: 15px 20px 15px 20px;
  background: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
}

.form__field:nth-of-type(3n) {
  grid-column: 1 / 3;
}

.form__field:hover {
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
}

@media screen and (max-width: 990px) {
  .form__field:nth-of-type(3n) {
    height: 130px;
  }
}
