.form__input {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 200%;
  color: #111111;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.form__input::placeholder {
  color: rgba(17, 17, 17, 0.3);
}

.form__input:focus {
  outline: 0;
  box-sizing: border-box;
}
