.examples {
  margin: 0 170px;
}

@media screen and (max-width: 1150px) {
  .examples {
    margin: 0 30px;
  }
}
@media screen and (max-width: 640px) {
  .examples {
    margin: 90px 30px 20px 30px;
  }
}
