.contacts {
  padding: 0 170px 120px 170px;
}

@media screen and (max-width: 990px) {
  .contacts {
    padding: 0 30px 70px 30px;
  }
}
@media screen and (max-width: 640px) {
  .contacts {
    padding: 90px 10px 70px 10px;
  }
}
