.examples__pictures {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .slick-dots {
    position: absolute;
    top: 100%;
    transform: rotate(-90deg);
    border: none;
    color: #212121;
    margin: 0;
    padding: 0 0 0 60px;
  }
  .slick-dots li button {
    visibility: hidden;
 }
}

