.header__image {
  position: absolute;
  top: 40px;
  right: 220px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1390px) {
  .header__image {
    right: 45px;
  }
}
@media screen and (max-width: 1280px) {
  .header__image {
    top: 70px;
    width: 300px;
    height: 600px;
  }
}
@media screen and (max-width: 990px) {
  .header__image {
    top: 120px;
    right: 45px;
    width: 250px;
    height: 502px;
  }
}
@media screen and (max-width: 720px) {
  .header__image {
    position: static;
    padding-left: 50px;
  }
}
@media screen and (max-width: 640px) {
  .header__image {
    padding: 0 20px;
    width: 260px;
    height: 522px;
  }
}
