.footer__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 144%;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 174px;
}

@media screen and (max-width: 990px) {
  .footer__subtitle {
    padding-bottom: 130px;
  }
}
@media screen and (max-width: 640px) {
  .footer__subtitle {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 95px;
  }
}
