.description__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: rgba(17, 17, 17, 0.6);
}

@media screen and (max-width: 1280px) {
  .description__title {
    font-size: 15px;
    line-height: 133%;
  }
}
