.description__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(17, 17, 17, 0.6);
}

@media screen and (max-width: 1280px) {
  .description__text {
    font-size: 15px;
    line-height: 133%;
  }
}
@media screen and (max-width: 990px) {
  .description__text {
    padding-right: 30px;
  }
}
