.footer__content {
  padding: 60px 255px 60px 160px;
}

@media screen and (max-width: 1280px) {
  .footer__content {
    padding: 60px 200px 60px 160px;
  }
}
@media screen and (max-width: 1150px) {
  .footer__content {
    padding: 50px 80px 50px 50px;
  }
}
@media screen and (max-width: 720px) {
  .footer__content {
    padding: 20px 20px 20px 20px;
  }
}
