@media screen and (max-width: 990px) {
  .description__subtitle_other {
    padding-bottom: 19px;
  }
}
@media screen and (max-width: 614px) {
  .description__subtitle_other {
    padding-bottom: 50px;
  }
}
