.header__logo {
  margin: 30px 0 0 160px;
}

@media screen and (max-width: 990px) {
  .header__logo {
    margin: 30px 0 0 50px;
  }
}
@media screen and (max-width: 640px) {
  .header__logo {
    margin: 20px 0 0 20px;
  }
}
