@import "./../vendor/normalize";
@import "./modules/fonts/fonts.scss";
@import "./modules/variables/variables.scss";
@import "./modules/blocks/page/page.scss";
// Header
@import "./modules/blocks/header/header.scss";
@import "./modules/blocks/header/__logo/header__logo.scss";
@import "./modules/blocks/header/__content/header__content.scss";
@import "./modules/blocks/header/__title/header__title.scss";
@import "./modules/blocks/header/__description/header__description.scss";
@import "./modules/blocks/header/__image/header__image.scss";
@import "./modules/blocks/header/__link/header__link.scss";
@import "./modules/blocks/header/__link-text/header__link-text.scss";
// Description
@import "./modules/blocks/description/description.scss";
@import "./modules/blocks/description/__part/description__part.scss";
@import "./modules/blocks/description/__title/description__title.scss";
@import "./modules/blocks/description/__subtitle/description__subtitle.scss";
@import "./modules/blocks/description/__text/description__text.scss";
@import "./modules/blocks/description/__accent/description__accent.scss";
@import "./modules/blocks/description/__subtitle/_indent/description__subtitle_indent.scss";
@import "./modules/blocks/description/__accent/_another/description__accent_another.scss";
@import "./modules/blocks/description/__accent/_other/description__accent_other.scss";
@import "./modules/blocks/description/__subtitle/_other/description__subtitle_other.scss";
// Examples
@import "./modules/blocks/examples/examples.scss";
@import "./modules/blocks/examples/__title/examples__title.scss";
@import "./modules/blocks/examples/__pictures/examples__pictures.scss";
@import "./modules/blocks/examples/__image/examples__image.scss";
// Contacts
@import "./modules/blocks/contacts/contacts.scss";
@import "./modules/blocks/contacts/__container/contacts__container.scss";
@import "./modules/blocks/contacts/__title/contacts__title.scss";
@import "./modules/blocks/contacts/__subtitle/contacts__subtitle.scss";
@import "./modules/blocks/contacts/__paragraph/contacts__paragraph.scss";
@import "./modules/blocks/contacts/__button/contacts__button.scss";
// Form
@import "./modules/blocks/form/form.scss";
@import "./modules/blocks/form/__field/form__field.scss";
@import "./modules/blocks/form/__input/form__input.scss";
// Footer
@import "./modules/blocks/footer/footer.scss";
@import "./modules/blocks/footer/__content/footer__content.scss";
@import "./modules/blocks/footer/__title/footer__title.scss";
@import "./modules/blocks/footer/__subtitle/footer__subtitle.scss";
@import "./modules/blocks/footer/__button/footer__button.scss";
@import "./modules/blocks/footer/__image/footer__image.scss";
// Slick-slider
@import "./modules/blocks/slick-dots/slick-dots.scss";
