.description__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 119%;
  color: #111111;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1280px) {
  .description__subtitle {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 990px) {
  .description__subtitle {
    padding-top: 12px;
    padding-bottom: 50px;
    max-width: 300px;
  }
}
