.contacts__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(17, 17, 17, 0.6);
  padding-bottom: 100px;
}

@media screen and (max-width: 990px) {
  .contacts__paragraph {
    font-size: 15px;
    line-height: 133%;
  }
}
@media screen and (max-width: 640px) {
  .contacts__paragraph {
    padding: 20px 20px 80px 20px;
  }
}

